* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --cinza-escuro: #353f40;
    --verde: #0c260e;
    --cinza-claro: #a69f92;
    --cinza-bege: #d9d0c1;
    --marrom: #8c564a;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
}

h2 {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

body {
    min-height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 100% 1fr;
}

header {
    border-radius: 0 0 8px 8px;
    background-color: var(--cinza-escuro);
    color: var(--cinza-bege);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header__content figure {
    width: 44px;
}

.header__content img {
    cursor: pointer;
}

footer {
    border-radius: 8px 8px 0 0;
    background-color: var(--cinza-escuro);
    color: var(--cinza-bege);
    padding: 1rem;
    text-align: center;
}

.menu__mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--marrom);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    color: var(--verde);
    transition: width 0.5s linear;
}

ul {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

ul li a:not(.dropdown-title):hover {
    background-color: #868176;
    transition: 0.5s;
    color: var(--cinza-bege);
}

ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
    background-color: var(--cinza-bege);
    color: var(--verde);
    font-weight: 500;
    margin-top: 1px;
    box-shadow: 0 5px 5px black;
}

.dropdown {
    width: 100%;
    display: none;
    margin-top: 0;
}

ul li:hover .dropdown {
    display: block;
}

.dropdown-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
}

.dropdown-title::after {
    content: url(../imagens/dropdown-svgrepo-com.svg);
    width: 25px;
    height: 25px;
    display: inline-block;
}

.menu__mobile figure {
    width: 40px;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
}

.hide {
    width: 0;
    opacity: 0;
    pointer-events: none;
}

.hide-desktop {
    display: none;
}

@media (min-width: 768px) {
    ul {
        margin-top: 0;
        flex-direction: row;
    }

    ul li {
        position: relative;
    }

    .dropdown {
        position: absolute;
    }

    .buttons {
        flex-direction: row !important;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2rem;
    }

    .menu__mobile {
        width: 30%;
    }

    .dropdown-title {
        padding: 1rem;
    }

    p,
    a {
        font-size: 1.3rem;
    }

    main {
        gap: 2rem;
    }

    .content p {
        margin-top: 1rem;
    }

    .buttons {
        margin-top: 1.5rem;
    }
}