* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --cinza-escuro: #353F40; 
    --verde: #0C260E; 
    --cinza-claro: #A69F92; 
    --cinza-bege: #D9D0C1; 
    --marrom: #8C564A; 
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
}

h2 {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

body {
    min-height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 100% 1fr;
}

header {
    border-radius: 0 0 8px 8px;
    background-color: var(--cinza-escuro);
    color: var(--cinza-bege);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;    
    max-width: 1200px;
    margin: 0 auto;
}

.header__content figure {
    width: 44px;
}

.header__content img {
    cursor: pointer;
}

.imagem-principal {
    width: 350px;
    margin-top: 4rem;
    border-radius: 4px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 0 1rem;
    background-color: whitesmoke;
    color: #333;
}

.content {
    text-align: justify;
    max-width: 1200px;
    margin: 0 auto;
}

.content p {
    margin-top: .5rem;
}

.buttons {
    margin: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#comprar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .75rem;
}

#comprar::before {
    content: url(../imagens/cart-shopping-svgrepo-com.svg);
}

.buttons a {
    display: inline-block;
    padding: 1rem;
    background-color: var(--verde);
    width: 100%;
    color: var(--cinza-bege);
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
}

.buttons a:hover {
    transition: .5s ease-in-out;
    transform: scale(1.05);
    background-color: #194d1d;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322)
}

.buttons a:active{
    background-color: rgb(0, 0, 0);
    transform: scale(0.95);
}

table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    border: 2px solid var(--cinza-claro);
    font-family: Arial, sans-serif;
    background-color: var(--cinza-escuro);
    color: var(--cinza-bege);
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--cinza-escuro);  
}

td {
    border: 1px solid var(--cinza-claro);
    padding: 12px;
    text-align: left;
}

tbody {
    background-color: var(--verde);
}

tr:nth-child(even) {
    background-color: var(--cinza-bege);
    color: var(--cinza-escuro);
}

tr:hover {
    background-color: var(--marrom);
    color: var(--cinza-bege);
}

footer {
    border-radius: 8px 8px 0 0;
    background-color: var(--cinza-escuro);
    color: var(--cinza-bege);
    padding: 1rem;
    text-align: center;
}

.menu__mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--marrom);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    color: var(--verde);
    transition: width .5s linear;
}

ul {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

ul li a:not(.dropdown-title):hover {
    background-color: #868176;
    transition: .5s;
    color: var(--cinza-bege);
}

ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
    background-color: var(--cinza-bege);
    color: var(--verde);
    font-weight: 500;
    margin-top: 1px;
    box-shadow: 0 5px 5px black;
}

.dropdown {
    width: 100%;
    display: none;
    margin-top: 0;
}

ul li:hover .dropdown {
    display: block;
}

.dropdown-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;
}

.dropdown-title::after {
    content: url(../imagens/dropdown-svgrepo-com.svg);
    width: 25px;
    height: 25px;
    display: inline-block;
}

.menu__mobile figure {
    width: 40px;
    position: absolute;
    top: .5rem;
    left: .5rem;
    cursor: pointer;
}

.hide {
    width: 0;
    opacity: 0;
    pointer-events: none;
}

.hide-desktop {
    display: none;
}

@media (min-width: 768px) {
    ul {
        margin-top: 0;
        flex-direction: row;
    }

    ul li {
        position: relative;
    }
    
    .dropdown {
        position: absolute;
    }

    .buttons {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2rem;
    }
    
    .menu__mobile {
        width: 30%;
    }

    .dropdown-title {
        padding: 1rem;
    }

    p, a {
        font-size: 1.3rem;
    }

    main {
        gap: 2rem;
    }

    .content p {
        margin-top: 1rem;
    }

    .buttons {
        margin-top: 1.5rem;
    }
}

