.imagem-principal {
    width: 350px;
    margin-top: 4rem;
    border-radius: 4px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 0 1rem;
    background-color: whitesmoke;
    color: #333;
}

.content {
    text-align: justify;
    max-width: 1200px;
    margin: 0 auto;
}

.content p {
    margin-top: .5rem;
}

.buttons {
    margin: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#comprar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .75rem;
}

#comprar::before {
    content: url(../imagens/cart-shopping-svgrepo-com.svg);
}

.buttons a {
    display: inline-block;
    padding: 1rem;
    background-color: var(--verde);
    width: 100%;
    color: var(--cinza-bege);
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
}

.buttons a:hover {
    transition: .5s ease-in-out;
    transform: scale(1.05);
    background-color: #194d1d;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322)
}

.buttons a:active{
    background-color: rgb(0, 0, 0);
    transform: scale(0.95);
}

table {
    width: 100%;
    margin-top: 5rem;
    max-width: 1200px;
    border-collapse: collapse;
    border: 2px solid var(--cinza-claro);
    font-family: Arial, sans-serif;
    background-color: var(--cinza-escuro);
    color: var(--cinza-bege);
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--cinza-escuro);  
}

td {
    border: 1px solid var(--cinza-claro);
    padding: 12px;
    text-align: left;
}

tbody {
    background-color: var(--verde);
}

tr:nth-child(even) {
    background-color: var(--cinza-bege);
    color: var(--cinza-escuro);
}

tr:hover {
    background-color: var(--marrom);
    color: var(--cinza-bege);
}


